.hv1:hover { color:#9A5D3B !important; }
.hv2:hover { background:#9A5D3B !important; }
.hv3:hover { background:#9A5D3B !important; color:#F6F0E7 !important; }
.hv4:hover { background:rgba(246,240,231,.14) !important; border-color:#F6F0E7 !important; }
.hv5:hover { border-color:#35261F !important; background:#E8DDCE !important; }
.hv6:hover { transform:scale(1.04) !important; }
.hv7:hover { transform:scale(1.05) !important; }
.hv8:hover { background:#35261F !important; color:#F6F0E7 !important; }
.hv9:hover { border-bottom-color:#9A5D3B !important; }
.hv10:hover { transform:scale(1.06) !important; }
.hv11:hover { background:#F6F0E7 !important; color:#35261F !important; }
.hv12:hover { transform:scale(1.07) !important; }
.hv13:hover { border-bottom-color:#F6F0E7 !important; color:#F6F0E7 !important; }
.hv14:hover { transform:scale(1.09) !important; }
.hv15:hover { border-color:#35261F !important; background:#F6F0E7 !important; }
.hv16:hover { background:rgba(53,38,31,.1) !important; border-color:#35261F !important; }
.hv17:hover { color:#B77C58 !important; }
